*{
    margin: 0;
    padding: 0;
}
body {
    background-image:linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.8)), url(../Images/cillian_murphy_robert_downey_jr__florence_pugh_jack_quaid_emily_blunt_rami_malek_4k_5k_hd_oppenheimer.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: var(--primary-font);
    color: var(--secondary-color);
    list-style: none;
    font-size:14px;
    text-decoration: none;
    a {
        color: inherit;
        text-decoration: inherit;
    }
    img{
        width: 136px;
        height: auto;
    }
    svg {
        max-width: 50px;
        max-height: 50px;
    }
}