header section {
    background-color: var(--primary-color);
    .header-top{
        display: flex;
        background-color: var(--primary-color);
        justify-content: space-between;
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-items: center;
        img {
            width: 20%;
            height: 15%;
        }
        input {
            width: 450px;
            height:35px;
            border-radius:8px;
            font-size: 20px;
            font-weight: 200;
        }
        p a{
            font-weight: bold;
        };
        p a:last-child{
            font-weight: lighter;

        }
    }
    .header-bottom {
        color: var(--secondary-color);
        background-color: var(--other-header-color);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        justify-items: center;
        ul {
            display: flex;
            position: absolute;
            gap: 20px;
            li a::after {
               content : "";
               background-color: gold;
               position: absolute;
               margin-left: 10px;
               height: 15px;
               width: 1px;
               }
        }
        
    }
}
