.bg-header{
    position: sticky;
    top: 0;
    z-index: 5;
    header {
        .top-fixed {
            max-width: 100%;
            background-color: var(--primary-color);
            .header-top{
                display: flex;
                background-color: var(--primary-color);
                justify-content: space-between;
                width: 1000px;
                margin: 0 auto;
                text-align: center;
                align-items: center;
                justify-items: center;
                padding-bottom: 10px;
                z-index: 1;
                img {
                    position: relative;
                    top:5px;
                    width: 20%;
                    height: 15%;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .container-search{
                    position: relative;
                    input {
                        width: 450px;
                        height: 35px;
                        border-radius:8px;
                        font-size: 20px;
                        font-weight: 200;
                        border: 0px solid ;
                    }
                    &::after{
                        position: absolute;
                        font-size: 12px;
                        width: 150px;
                        top: 105%;
                        right: -20px;
                        content: "Advanced Search >>";
                        background-color: var(--primary-color);
                        fill: var(--secondary-color);
                        &:hover {
                            cursor: pointer;
                            color: var(--h2-letter-color)
                        }
                    }
                }
                p a{
                    font-weight: bold;
                };
                p a:last-child{
                    font-weight: lighter;
        
                }
            }
        }
        .bottom-relative .header-bottom {
            color: var(--secondary-color);
            background-color: var(--other-header-color);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 40px;
            justify-items: center;
            ul {
                display: flex;
                position: absolute;
                gap: 20px;
                li a{
                    &:hover{
                        color: var(--color-hover);
                        transition: 0.5s;
                    }
                    &::after {
                       content : "";
                       background-color: var(--color-hover);
                       position: absolute;
                       margin-left: 10px;
                       height: 15px;
                       width: 1px;
                    }
                }
            }   
        }
    }
}
