:root{
    --primary-font : "Arial";
    --primary-color : #447cad;
    --other-header-color: #3C6E99;
    --secondary-color : white;
    --terciary-color : black;
    --h2-letter-color: #7777;
    --color-info-film: #4e4e4e;     
    --color-hover: gold;
    --bg-aside: #F0F0F0;
    --border-box-aside-color: #CDDCEB;
    --h2-secondary-color:#666666;
}
@keyframes change-color {
    0% {
        background-color: var(--secondary-color);
    }
    50%{
        background-color: green
    }
    100% {
        background-color: var(--secondary-color);
    }
}
@font-face {
    font-family: "Lobster";
    src: url(../fonts/Lobster/Lobster-Regular.ttf);
}