@import url("rules.css");
@import url("reset.css");
@import url("header.css");
@import url("main.css");
body {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    list-style: none;
    font-size:14px;
    text-decoration: none;
    a {
        color: inherit;
        text-decoration: inherit;
    }
    svg {
        max-width: 50px;
        max-height: 50px;
    }
}
footer {
    background-color: var(--primary-color);
    section {
        display: flex;
        justify-content:center;
        margin-inline: 0;
    }
}